.Signup {
  background-color: #080e10;
}

.Signup main {
  background: url("../../assets/images/landing_page_main.jpg") no-repeat center;
  background-size: cover;
  box-shadow: inset 24em 0 30em 6em #000000;
  height: 100vh;
}

.Signup .main-content {
  padding: 40px 5%;
}

.Signup .main-content h1 {
  font-size: 40px;
  color: #ffc62d;
}

.Signup .main-content h1 span {
  color: #fbfbfb;
}

.Signup .main-content > p {
  font-size: 18px;
  margin: 20px 0 0 0;
  width: 30%;
  color: #fbfbfb;
}

.Signup .main-content > p span {
  color: #ffc62d;
}

.Signup .main-content form {
  margin: 50px 0;
}

.Signup .main-content form .form-fields {
  display: grid;
  grid-template-columns: 300px 300px;
}

.Signup .main-content .alt {
  font-size: 18px;
}

.Signup .main-content .alt p {
  color: #fbfbfb;
}

.Signup .main-content .alt a {
  color: #ffc62d;
}

.Signup .main-content .alt a:hover {
  color: #cfa430;
}
