.LandingPage {
  background-color: #080e10;
}

.LandingPage main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LandingPage main .main-a,
.LandingPage main .main-b {
  padding: 0 5%;
}

.LandingPage .main-a h1 {
  font-size: 44px;
  color: #fbfbfb;
}

.LandingPage .main-a h1 span {
  color: #ffc62d;
}

.LandingPage .main-a p {
  font-size: 20px;
  margin: 40px 0;
  width: 40%;
  color: #fbfbfb;
}

.LandingPage .main-a p span {
  color: #ffc62d;
}

.LandingPage .main-a .main-a-btns button:first-child {
  margin-right: 20px;
}

.LandingPage main .main-b {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.LandingPage .main-b h2 {
  color: #ffc62d;
}

.LandingPage .main-b p {
  color: #fbfbfb;
}

.LandingPage .working {
  max-height: 792px;
  background-color: #ffc62d;
  position: relative;
  padding: 60px 5% 0 5%;
  overflow: hidden;
}

.LandingPage .working .floats:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 300px;
}

.LandingPage .working .floats:nth-of-type(2) {
  position: absolute;
  left: 12%;
  top: 28%;
  height: 340px;
}

.LandingPage .working h1 {
  font-size: 44px;
  text-align: center;
}

#timeline .timeline-item:after,
header:after,
#timeline .timeline-item:before,
header:before {
  content: "";
  display: block;
  width: 100%;
}

#timeline {
  width: 60%;
  margin: 60px auto 0 auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 70%;
  background: #000;
  left: 50%;
  top: 0;
  position: absolute;
}

#timeline .timeline-item {
  margin-bottom: 100px;
  position: relative;
}

#timeline .timeline-item .timeline-icon {
  background: #000;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#timeline .timeline-item .timeline-icon img {
  position: relative;
  top: 14px;
  left: 12px;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #000;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ffc62d;
}

#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #000;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
}

#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #000;
}

.LandingPage .features {
  height: 800px;
  max-height: 800px;
  background-color: #080e10;
  position: relative;
  overflow: hidden;
}

.LandingPage .features .floats:nth-of-type(1) {
  position: absolute;
  height: 500px;
  top: -300px;
  left: 10px;
}

.LandingPage .features .floats:nth-of-type(2) {
  position: absolute;
  height: 300px;
  top: 200px;
  right: 100px;
  transform: rotate(45deg);
}

.LandingPage .features .floats:nth-of-type(3) {
  position: absolute;
  height: 600px;
  bottom: -400px;
  left: 100px;
}

.LandingPage .features h1:nth-of-type(1) {
  position: absolute;
  top: 20%;
  right: -400px;

  text-transform: uppercase;
  word-spacing: 10px;

  background: none;

  color: #fbfbfb;
  font-size: 50px;
  font-weight: 600;
  transform-origin: 0 0;
  z-index: 3;
  transform: rotate(90deg);
}

.LandingPage .features h1:nth-of-type(2) {
  position: absolute;
  top: calc(20% + 2px);
  right: -398px;

  text-transform: uppercase;
  word-spacing: 10px;

  background: none;

  color: #ffc62d;
  font-size: 50px;
  font-weight: 600;
  transform-origin: 0 0;
  z-index: 2;
  transform: rotate(90deg);
}

.LandingPage .features .features-list {
  color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 14% 20% 0 0;
}

.LandingPage .feature {
  align-self: flex-start;
  max-height: 200px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPage .feature img {
  width: 100px;
}

.LandingPage .feature h2 {
  color: #ffc62d;
}

.LandingPage footer {
  background-color: #ffc62d;
  margin-top: 80px;
}

/* footer navbar */

.LandingPage footer nav {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LandingPage footer nav .BrandLogo h2 {
  color: #000;
}

.LandingPage footer nav .BrandLogo h2 span {
  color: #000;
}

.LandingPage footer nav > ul {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
}

.LandingPage footer nav a {
  color: #000;
  text-decoration: none;
}

.LandingPage footer nav a:hover {
  color: #fbfbfb;
}

.LandingPage footer .active {
  color: #000;
  font-weight: 700;
}

.LandingPage footer nav .playstore-badge img {
  height: 50px;
  cursor: pointer;
  padding: 0;
}

.LandingPage .footer-content {
  padding: 20px 5%;
  display: flex;
}

.LandingPage .footer-content a {
  color: #000;
  text-decoration: none;
}

.LandingPage footer .footer-info {
  padding-right: 20px;
  border-right: 4px solid #000;
  max-width: 45%;
}

.LandingPage .footer-info h2 {
  margin-bottom: 10px;
}

.LandingPage .footer-info p {
  text-align: justify;
}

.LandingPage .footer-content p > a {
  font-weight: 600;
}

.LandingPage footer .contact {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LandingPage .contact h2 {
  margin-bottom: 10px;
}

.LandingPage .contact p {
  text-align: justify;
}

.LandingPage .contact .contact-links {
  margin-top: 10px;
}

.LandingPage .contact .contact-links a {
  margin-right: 20px;
}

.LandingPage .contact .contact-links a img {
  height: 30px;
  width: 30px;
}

.LandingPage .contact .contact-links a img:last-of-type {
  display: none;
}

.LandingPage .contact-links a:hover img:first-of-type {
  display: none;
}

.LandingPage .contact-links a:hover img:last-of-type {
  display: inline-block;
}

.LandingPage footer > p {
  padding: 20px 5% 40px 20px;
  text-align: center;
}

.LandingPage footer > p span {
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  #timeline {
    width: 80%;
  }
}

@media screen and (max-width: 1050px) {
  #timeline {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .LandingPage .main-a {
    width: 100%;
  }

  .LandingPage .main-a h1 {
    font-size: 32px;
  }

  .LandingPage .main-a p {
    font-size: 16px;
    margin: 20px 0;
    width: 90%;
  }

  .LandingPage .main-b > div {
    width: 50%;
    margin-top: 30px;
  }

  /* start of working */
  .LandingPage .working .floats:nth-of-type(1) {
    bottom: -6%;
    height: 200px;
  }

  .LandingPage .working .floats:nth-of-type(2) {
    position: absolute;
    left: 5%;
    top: 26%;
    height: 160px;
  }

  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }

  #timeline:before {
    left: 0;
  }

  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }

  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #000;
  }

  #timeline .timeline-item .timeline-icon {
    left: 0;
  }

  /* start of feature */

  .LandingPage .features .floats:nth-of-type(2) {
    display: none;
  }

  .LandingPage .features h1:nth-of-type(1) {
    right: -500px;
  }

  .LandingPage .features h1:nth-of-type(2) {
    right: -498px;
  }

  .LandingPage .features .features-list {
    margin: 40% 10% 0 0;
  }

  .LandingPage .feature {
    margin-right: 20px;
  }

  .LandingPage .feature img {
    width: 80px;
  }

  .LandingPage .feature h2 {
    font-size: 20px;
  }

  .LandingPage .feature p {
    font-size: 14px;
  }

  /* footer navbar */

  .LandingPage footer nav > ul {
    display: none;
  }

  .LandingPage footer nav .playstore-badge {
    display: none;
  }

  .LandingPage .footer-content {
    flex-direction: column;
  }

  .LandingPage footer .footer-info {
    padding-right: 0;
    padding-bottom: 40px;
    border-right: none;
    border-bottom: 4px solid #000;
    max-width: 100%;
  }

  .LandingPage footer .contact {
    padding-left: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .LandingPage .contact .contact-links {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .LandingPage .main-a h1 {
    font-size: 28px;
  }

  .LandingPage .main-a p {
    font-size: 16px;
    margin: 10px 0;
  }

  .LandingPage main .main-b {
    padding-bottom: 20px;
  }

  .LandingPage .main-b h2 {
    font-size: 20px;
  }

  .LandingPage .main-b p {
    font-size: 14px;
  }

  /* start of feature */

  .LandingPage .features h1:nth-of-type(1) {
    right: -290px;
    font-size: 28px;
  }

  .LandingPage .features h1:nth-of-type(2) {
    right: -288px;
    font-size: 28px;
  }

  .LandingPage .features .features-list {
    margin: 60% 5% 0 0;
  }

  .LandingPage .feature {
    margin-right: 20px;
  }

  .LandingPage .feature h2 {
    font-size: 18px;
  }

  .LandingPage .feature p {
    font-size: 14px;
  }
}
