.AppNavbar {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.AppNavbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.AppNavbar a:hover {
  color: #cfa430;
}

.AppNavbar .active {
  color: #ffc62d;
}

.AppNavbar .search-input {
  display: flex;
}

.AppNavbar .search-input input, select {
  font-size: 14px;
  padding: 10px;
  width: 260px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #fbfbfb;
}

.AppNavbar .search-input input::placeholder, select::placeholder {
  color: #000;
}

.AppNavbar .search-input input:focus, select:focus {
  background-color: #ffc62d;
  border: 1px solid #ffc62d;
}

.AppNavbar .search-input button {
  padding: 5px 10px 2px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #ffc62d;
  background-color: #ffc62d;
  cursor: pointer;
}

.AppNavbar .search-input button img {
  height: 20px;
}

.AppNavbar .menu {
  background-color: rgb(255, 199, 45, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  overflow-x: hidden;
  width: 0;
  display: none;

  transition: 500ms;
  height: 100vh;
  z-index: 3;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
}

.AppNavbar .menu .close-btn {
  height: 30px;
  display: none;

  position: absolute;
  top: 20px;
  right: 20px;
}

.AppNavbar .menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppNavbar .menu li {
  margin-bottom: 10px;
}

.AppNavbar .menu a {
  color: #000;
  font-size: 20px;
}

.AppNavbar .menu a.active {
  color: #000;
  font-weight: 700;
}

.AppNavbar .menu ul img {
  width: 200px;
}

.AppNavbar .menu-btn {
  height: 30px;
  display: none;
}

@media screen and (max-width: 950px) {
  .AppNavbar .BrandLogo {
    width: 70vw;
  }
  
  .AppNavbar > ul {
    display: none;
  }

  .AppNavbar .search-input {
    margin-top: 20px;
    order: 3;
  }

  .AppNavbar .menu {
    display: flex;
  }

  .AppNavbar .menu .close-btn {
    display: block;
  }

  .AppNavbar .menu-btn {
    display: block;
  }

}