.ParkingForm main {
  padding: 20px 5%;
  height: 83vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ParkingForm form {
  height: 100%;
  width: 50%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.ParkingForm form h2 {
  background-color: #d3d3d3;
  padding: 8px 20px;
  border-radius: 5px;
  color: #000000;
}

.ParkingForm .form-fields {
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ParkingForm .form-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ParkingForm .form-child label {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.ParkingForm .form-child input {
  font-size: 14px;
  padding: 10px;
  min-width: 260px;
  border-radius: 3px;
  border: none;
}

.ParkingForm .form-child input::placeholder {
  color: #000;
}

.ParkingForm .form-child input:focus {
  background-color: #ffc62d;
  color: #000;
}

.ParkingForm button {
  margin: 0 20px;
}