.Home main {
  padding: 20px 5%;
  width: 100%;
  height: 83vh;
  display: flex;
  justify-content: space-between;
}

.Home .main-a {
  width: 59%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  position: relative;
}

.Home .main-a .about {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.Home .coins {
  display: flex;
  align-items: center;
}

.Home .coins .coins-count {
  margin-right: 5px;
  background-color: #ffc62d;
  border-radius: 5px;
  padding: 2px 5px;
}

.Home .coins img {
  height: 24px;
}

.Home .coins .coin-info {
  display: none;
  position: absolute;
  background-color: #181816;
  border-radius: 5px;
  color: #ffc62d;
  padding: 10px;
  width: 200px;
  top: 10px;
  right: 10px;
}

.Home .coins img:hover + .coin-info {
  display: block;
}

.Home .main-a .booked-parking {
  padding: 20px;
  color: #000000;
  border-top: 3px solid #000;
}

.Home .booked-parking > h2 {
  background-color: #d3d3d3;
  padding: 8px 20px;
  border-radius: 5px;
}

.Home .booked-parking .about-booked-parking {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home .booked-parking > .about-booked-parking h1 {
  width: 60%;
  text-align: center;
  font-size: 32px;
}

.Home .booked-parking .about-booked-parking > div {
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 3px;
  margin: 20px auto;
}

.Home .booked-parking > .no-booked-parking {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home .booked-parking > .no-booked-parking h1 {
  width: 60%;
  text-align: center;
  font-size: 32px;
}

.Home .booked-parking > .no-booked-parking p {
  color: #fff;
  font-size: 18px;
  margin: 10px auto 20px auto;
  text-align: center;
}

.Home .main-b {
  width: 38.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Home .main-b .history {
  height: calc(50% - 10px);
  padding: 20px;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.history > h2 {
  background-color: #d3d3d3;
  padding: 8px 20px;
  border-radius: 5px;
}

.history > .no-history {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history > .no-history > p {
  width: 60%;
  font-size: 18px;
  text-align: center;
}

.history .history-list {
  display: flex;
  flex-direction: column;
}

.history .booking-card {
  color: #d3d3d3;
  background-color: #181816;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.history .booking-card:hover {
  background-color: #ffc62d;
  color: #000000;
}

.history .booking-card:first-of-type {
  margin-top: 10px;
}

.history .booking-card p:first-of-type {
  font-size: 20px;
  margin-bottom: 5px;
}

.Home .main-b .saved-parkings {
  height: calc(50% - 10px);
  padding: 20px;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.saved-parkings > h2 {
  background-color: #d3d3d3;
  padding: 8px 20px;
  border-radius: 5px;
}

.saved-parkings > .no-saved-parkings {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saved-parkings > .no-saved-parkings > p {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .Home main {
    padding: 0 5% 20px 5%;
    height: auto;
    display: block;
  }
  
  .Home .main-a {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .Home .main-a .about {
    padding: 10px 20px;
  }

  .Home .main-a .about h2 {
    width: 50vw;
    font-size: 24px;
  }
  
  .Home .coins .coin-info {
    top: 70px;
  }
  
  /* booked parking */
  .Home .booked-parking > h2 {
    font-size: 24px;
    padding: 5px 20px;
  }

  .Home .booked-parking .about-booked-parking {
    margin-top: 0;
    margin: 40px auto;
  }
  
  .Home .booked-parking > .about-booked-parking h1 {
    width: 100%;
    font-size: 28px;
  }
  
  .Home .booked-parking > .no-booked-parking {
    margin-top: 0;
    margin: 40px auto;
  }
  
  .Home .booked-parking > .no-booked-parking h1 {
    width: 100%;
    font-size: 28px;
  }
  
  /* main-b */

  .Home .main-b {
    width: 100%;
    display: block;
  }
  
  .Home .main-b .history {
    height: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .Home .history > h2 {
    font-size: 24px;
    padding: 5px 20px;
  }
  
  .history > .no-history {
    height: 30vh;
  }
  
  .Home .main-b .saved-parkings {
    height: 100%;
    padding: 10px 20px;
  }
  
  .saved-parkings > h2 {
    font-size: 24px;
    padding: 5px 20px;
  }
  
  .saved-parkings > .no-saved-parkings {
    height: 30vh;
  }
}