.AdminSignin {
  background: #4ca1af; 
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); 
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AdminSignin form {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 40px 80px;
  background-color: #000;
}

.AdminSignin form h1 {
  color: #fff; 
  text-align: center;
  margin-bottom: 40px;
}
